body {
  color: var(--color-gray);
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.2px;
  background-color: #FAFAFA;
}

.container {
  max-width: 1050px;
  padding: 0px 15px;
  margin: 0px auto;
}

.title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 40px;
  line-height: 142%;
  letter-spacing: 0.2px;
}

.text {
  font-weight: 500;
  line-height: 143%;
}

a {
  color: var(--color-gray);
  text-decoration: none;
}

.hidden {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

:root {
  --color-gray:#737373;
  --title-color:#252B42;
  --color-green: #0D5C63;
  --color-orange: #FF7B47;
  --color-white: #ffffff;
}

.header__body {
  display: flex;
  align-items: center;
  padding: 40px 0px;
}

.header_logo {
  margin-right: 132px;
  font-size: 24px;
  font-weight: 700;
  line-height: 134%;
  letter-spacing: 0.1px;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header_logo:hover {
  color: var(--color-green);
}

.header__list {
  display: flex;
  column-gap: 21px;
}

.header__item {
  font-weight: 600;
  line-height: 171%;
}

.header__link:hover {
  border-bottom: 4px solid #1d1b1b;
  border-radius: 2px;
  color: #1d1b1b;
}

@media screen and (max-width: 992px) {
  .header__body {
    padding: 20px 0px;
  }
}
@media screen and (max-width: 550px) {
  .header_logo {
    margin-right: 40px;
  }
  .header__list {
    flex-wrap: wrap;
  }
}
.hero {
  background-image: url("../img/cover.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
  max-width: 1440px;
  height: 783px;
}

.hero__body {
  max-width: 509px;
}

.hero__title {
  padding-top: 80px;
  font-size: 58px;
  font-weight: 800;
  line-height: 138%;
  color: var(--title-color);
  animation: title-opacity 2.5s linear 1 forwards;
}

@keyframes title-opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.hero__text {
  margin-top: 35px;
  font-size: 20px;
  font-weight: 500;
  line-height: 132%;
}

.hero__buttons {
  display: flex;
  gap: 10px;
  margin-top: 35px;
}

.hero__orange-button {
  padding: 10px 36px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.2px;
  border: 1px solid var(--color-orange);
  border-radius: 37px;
  background-color: var(--color-orange);
  color: var(--color-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.hero__orange-button:hover {
  box-shadow: 0 5px 25px var(--color-orange);
}

.hero__white-button {
  padding: 10px 36px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 0.2px;
  color: var(--color-green);
  border: 1px solid var(--color-green);
  border-radius: 37px;
  background-color: inherit;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.hero__white-button:hover {
  box-shadow: 0 5px 30px var(--color-green);
}

@media screen and (max-width: 992px) {
  .hero {
    object-position: right;
  }
  .hero__title {
    padding-top: 30px;
    font-size: 32px;
  }
  .hero__text {
    margin-top: 20px;
    font-size: 16px;
  }
  .hero__buttons {
    margin-top: 20px;
  }
}
@media screen and (max-width: 550px) {
  .hero__title {
    padding-top: 20px;
    font-size: 20px;
  }
  .hero__text {
    margin-top: 15px;
    font-size: 16px;
  }
  .hero__buttons {
    flex-wrap: wrap;
    margin-top: 15px;
  }
}
@media screen and (max-width: 400px) {
  .hero__buttons {
    display: block;
  }
  .hero__orange-button {
    min-width: 100%;
    margin-bottom: 10px;
  }
  .hero__white-button {
    min-width: 100%;
  }
}
.consulting__list {
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
  margin-top: -101px;
}

.consulting__item {
  max-width: 328px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 35px 40px;
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.consulting__item:hover {
  background-color: var(--color-green);
  color: var(--color-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.consulting__item:hover .consulting__icon-sprite {
  fill: var(--color-white);
}

.consulting__icon-sprite {
  display: block;
  fill: var(--color-green);
  width: 48px;
  height: 48px;
}

.consulting__title {
  margin: 10px 0px;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.1px;
  line-height: 133%;
  color: var(--title-color);
}

.consulting__text {
  font-weight: 500;
  line-height: 142%;
}

@media screen and (max-width: 992px) {
  .consulting__list {
    margin-top: -450px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 720px) {
  .consulting__list {
    justify-content: start;
  }
  .consulting__item {
    min-width: 100%;
  }
}
@media screen and (max-width: 550px) {
  .consulting__list {
    margin-top: -550px;
  }
}
@media screen and (max-width: 400px) {
  .consulting__list {
    margin-top: -500px;
  }
}
.experience__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.experience__body {
  margin-bottom: 50px;
  text-align: center;
}

.experience__title-top {
  margin-bottom: 10px;
  animation: title-opacity 2.5s linear 1 forwards;
}

@keyframes title-opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.experience__text-top {
  margin: 0 auto;
  max-width: 470px;
}

.experience__colum {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}

.experience__item {
  width: 230px;
  padding: 30px 30px;
  text-align: center;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.experience__icon-sprite {
  fill: var(--color-green);
  width: 48px;
  height: 48px;
}

.experience__title {
  margin: 10px 0px;
}

.experience__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
}

@media screen and (max-width: 992px) {
  .experience__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .experience__colum {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .experience__title-top {
    font-size: 30px;
  }
  .experience__title {
    font-size: 25px;
  }
}
.advice__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.advice__body {
  margin-bottom: 50px;
  text-align: center;
}

.advice__title-top {
  margin-bottom: 10px;
  animation: title-opacity 2.5s linear 1 forwards;
}

@keyframes title-opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.advice__text-top {
  margin: 0 auto;
  max-width: 470px;
}

.advice__colum {
  display: flex;
  column-gap: 30px;
  row-gap: 15px;
}

.advice__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}

.advice__thumb {
  padding: 30px 30px;
  width: 232px;
}

.advice__title {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  color: var(--title-color);
}

.advice__text {
  font-weight: 500;
  line-height: 143%;
}

@media screen and (max-width: 1070px) {
  .advice__colum {
    column-gap: 15px;
  }
}
@media screen and (max-width: 992px) {
  .advice__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .advice__body {
    margin-bottom: 20px;
  }
  .advice__colum {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .advice__title-top {
    font-size: 30px;
  }
}
.who__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.who__body {
  text-align: center;
  margin-bottom: 100px;
}

.who__title-top {
  margin-bottom: 15px;
  animation: title-opacity 2.5s linear 1 forwards;
}

@keyframes title-opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.who__text-top {
  margin: 0 auto;
  max-width: 511px;
}

.who__colum {
  display: flex;
}

.who__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.25% 0px;
}

.who__video iframe {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.who__content {
  flex: 1 1 auto;
  margin: 20px 0px 0px 120px;
}

.who__title {
  margin-bottom: 10px;
}

.who__text {
  margin-bottom: 50px;
  font-weight: 500;
  line-height: 143%;
}

.who__content-item {
  display: flex;
  margin-bottom: 30px;
}

.who__content-item:last-child {
  margin-bottom: 0px;
}

.who__icon-sprite {
  width: 32px;
  height: 32px;
}

.who__content-thumb {
  margin-left: 20px;
}

.who__content-subtitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: var(--title-color);
}

.who__contetnt-subtext {
  font-weight: 600;
  line-height: 171%;
}

@media screen and (max-width: 992px) {
  .who__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .who__body {
    margin-bottom: 40px;
  }
  .who__content {
    margin: 20px 0px 0px 40px;
  }
}
@media screen and (max-width: 768px) {
  .who__colum {
    flex-wrap: wrap;
    justify-content: center;
  }
  .who__content {
    margin: 20px 0px 0px 0px;
  }
  .who__title-top {
    font-size: 30px;
  }
  .who__title {
    font-size: 25px;
  }
}
@media screen and (max-width: 600px) {
  .who__body {
    margin-bottom: 0px;
  }
  .who__video {
    display: none;
  }
}
.icons__container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.icons__body {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
}

.icons__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons__item-sprite {
  fill: var(--color-gray);
  width: 152px;
  height: 152px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons__item-sprite:hover {
  fill: var(--color-orange);
}

@media screen and (max-width: 1030px) {
  .icons__container {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .icons__body {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 400px) {
  .icons {
    display: none;
  }
}
.subscribe {
  position: relative;
}

.subscribe::before {
  content: "";
  background-color: var(--title-color);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 77px;
  z-index: 1;
}

.subscribe__container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.subscribe__body {
  position: relative;
  z-index: 5;
  display: flex;
  align-items: center;
  padding: 30px 50px;
  min-height: 124px;
  background-color: #17213C;
  border-radius: 2px;
}

.subscribe__text {
  margin-right: 180px;
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: var(--color-white);
}

.subscribe__form {
  display: flex;
  flex: 0 1 50%;
  align-items: center;
}

.subscribe__input {
  padding: 20px 20px;
  flex: 1 1 auto;
  min-width: 350px;
  border: 1px solid #E6E6E6;
  border-radius: 5px 0px 0px 5px;
  background-color: var(--color-white);
}

.subscribe__buttom {
  padding: 14px 23px;
  min-width: 117px;
  font-size: 14px;
  font-weight: 400;
  line-height: 200%;
  background-color: var(--color-orange);
  border-radius: 0px 5px 5px 0px;
  color: #E6E6E6;
  border: 1px solid #E6E6E6;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__buttom:hover {
  box-shadow: 0 5px 10px var(--color-orange);
}

@media screen and (max-width: 992px) {
  .subscribe__body {
    padding: 30px 30px;
  }
  .subscribe__text {
    margin-right: 60px;
  }
}
@media screen and (max-width: 768px) {
  .subscribe__text {
    margin-right: 30px;
  }
  .subscribe__form {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
  .subscribe__input {
    padding: 15px 20px;
    min-width: 250px;
    border-radius: 5px;
  }
  .subscribe__buttom {
    padding: 10px 23px;
    min-width: 250px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 600px) {
  .subscribe__body {
    flex-direction: column;
  }
  .subscribe__text {
    margin-right: 0px;
    margin-bottom: 15px;
    font-size: 18px;
  }
}
.getintouch__container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.getintouch__body {
  text-align: center;
}

.getintouch__title {
  margin-bottom: 10px;
  animation: title-opacity 2.5s linear 1 forwards;
}

@keyframes title-opacity {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.getintouch__text {
  margin: 0px 0px 80px 0px;
  margin: 0 auto;
  max-width: 470px;
}

.getintouch__row {
  margin-top: 80px;
}

.getintouch__colum {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  row-gap: 10px;
}

.getintouch__item {
  display: flex;
  flex-direction: column;
  padding: 50px 40px;
  background-color: var(--color-white);
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
}
.getintouch__item:hover {
  background-color: #252B42;
}

.getintouch__item:hover .getintouch__email1 {
  color: var(--color-white);
}

.getintouch__item:hover .getintouch__email2 {
  color: var(--color-white);
}

.getintouch__item:hover .getintouch__support {
  color: var(--color-white);
}

.getintouch__item:hover .getintouch__icon-sprite {
  fill: var(--color-white);
}

.getintouch__icon-sprite {
  fill: var(--color-green);
  width: 72px;
  height: 72px;
}

.getintouch__icon {
  margin-bottom: 15px;
  text-align: center;
}

.getintouch__email1 {
  text-align: center;
  font-weight: 600;
  line-height: 171%;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.getintouch__email2 {
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
  line-height: 171%;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.getintouch__support {
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: var(--title-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.getintouch__button {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 600;
  line-height: 171%;
  color: var(--color-orange);
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  background-color: var(--color-white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.getintouch__button:hover {
  box-shadow: 0 5px 25px var(--color-orange);
}

@media screen and (max-width: 992px) {
  .getintouch__container {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .getintouch__row {
    margin-top: 40px;
  }
  .getintouch__colum {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 768px) {
  .getintouch__title {
    font-size: 30px;
  }
  .getintouch__item {
    padding: 30px 20px;
  }
}
.agency__container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.agency__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.agency__text {
  margin-right: 20px;
}

.agency__title {
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
  color: var(--title-color);
}

.agency__subtitle {
  font-weight: 500;
  line-height: 143%;
  color: var(--color-gray);
}

.agency__botton {
  padding: 15px 40px;
  font-weight: 700;
  line-height: 200%;
  border: 1px solid var(--color-orange);
  border-radius: 5px;
  background-color: var(--color-orange);
  color: var(--color-white);
  box-shadow: 0px 0px 0px var(--color-orange);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.agency__botton:hover {
  box-shadow: 0 5px 25px var(--color-orange);
}

@media screen and (max-width: 992px) {
  .agency__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .agency__body {
    flex-wrap: wrap;
  }
  .agency__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 610px) {
  .agency__body {
    justify-content: center;
    text-align: center;
  }
  .agency__text {
    margin-right: 10px;
    margin-bottom: 15px;
  }
  .agency__botton {
    min-width: 250px;
  }
}
.info {
  background-color: #17213C;
}

.info__container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.info__colum {
  display: flex;
  column-gap: 30px;
  row-gap: 20px;
}

.info__row {
  display: flex;
  flex-direction: column;
  width: 152px;
}

.info__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: var(--color-white);
}

.info__item-link {
  font-weight: 600;
  line-height: 171%;
  color: var(--color-white);
}
.info__item-link:hover {
  text-decoration: none;
  border-bottom: 2px solid var(--color-white);
}

.info__item li {
  padding: 5px 0px;
}

.info__item-tel {
  padding: 10px 0px 10px 40px;
  background: url("../icon/tel-small.svg");
  background-repeat: no-repeat;
  background-position: left;
  font-weight: 600;
  line-height: 171%;
  color: var(--color-white);
}

.info__item-map {
  padding: 10px 0px 10px 40px;
  background: url("../icon/mark-small.svg");
  background-repeat: no-repeat;
  background-position: left;
  font-weight: 600;
  line-height: 171%;
  color: var(--color-white);
}

.info__item-email {
  padding: 10px 0px 10px 40px;
  background: url("../icon/plain-small.svg");
  background-repeat: no-repeat;
  background-position: left;
  font-weight: 600;
  line-height: 171%;
  color: var(--color-white);
}

@media screen and (max-width: 992px) {
  .info__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .info__colum {
    flex-wrap: wrap;
  }
}
.footer__container {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  margin-right: 20px;
  font-weight: 600;
  line-height: 171%;
}

.footer__icon {
  display: flex;
  column-gap: 20px;
}

.footer__icon-sprite {
  width: 24px;
  height: 24px;
}

@media screen and (max-width: 600px) {
  .footer__body {
    flex-wrap: wrap;
  }
  .footer__text {
    margin-bottom: 20px;
  }
}
.backdrop__subscribe {
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal__subscribe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__subscribe-container {
  padding: 25px;
  max-width: 500px;
  margin: 0 auto;
}

.modal__subscribe-body {
  text-align: center;
  border-radius: 10px;
}

.modal__subscribe-title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 800;
  line-height: 138%;
  color: var(--title-color);
}

.modal__subscribe-text {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 132%;
}

.modal__subscribe-button {
  padding: 10px 15px;
  min-width: 117px;
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
  background-color: var(--color-orange);
  border-radius: 0px 5px 5px 0px;
  color: #E6E6E6;
  border: 1px solid #E6E6E6;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__subscribe-button:hover {
  box-shadow: 0 5px 25px var(--color-orange);
}

.backdrop__contactus {
  position: fixed;
  z-index: 60;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  pointer-events: none;
}

.is-open {
  opacity: 1;
  pointer-events: auto;
}

.modal__contactus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__contactus-container {
  padding: 40px 20px;
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto;
}

.modal__contactus-body {
  text-align: center;
  border-radius: 10px;
}

.modal__contactus-close {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 15px;
  height: 15px;
  background-color: var(--title-color);
  clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  cursor: pointer;
}

.modal__contactus-title {
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 800;
  line-height: 138%;
  color: var(--title-color);
}

.modal__contactus-form {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.modal__label-name {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 500;
  line-height: 132%;
}

.modal__contactus-input {
  border-radius: 5px;
  padding: 5px;
}

.modal__contactus-button {
  padding: 10px 15px;
  min-width: 117px;
  font-size: 16px;
  font-weight: 500;
  line-height: 200%;
  background-color: var(--color-orange);
  border-radius: 10px;
  color: #E6E6E6;
  border: 1px solid #E6E6E6;
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__contactus-button:hover {
  box-shadow: 0 5px 25px var(--color-orange);
}/*# sourceMappingURL=main.css.map */