*{
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after{
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

:focus,:active{outline: none;}
a :focus, a :active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input ::-ms-clear{display: none;}
button{cursor: pointer;}
button ::-moz-focus-inner{padding: 0; border: 0;}
a,a :visited{text-decoration: none;}
a :hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

/*----------------------------ОБЩИЕ СТИЛИ---------------------------------------*/
:root {
    --color-gray:#737373;
    --title-color:#252B42;
}
body {
    color: var(--color-gray);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    letter-spacing: 0.2px;

    background-color: #FAFAFA;
}
.container {
    width: 1050px;
    padding: 0px 15px;
    margin: 0px auto;
}
.title {
    color: var(--title-color);
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
}
.text {
    font-weight: 500;
    line-height: 143%;
}
a {
    color:var(--color-gray);
    text-decoration: none;
}
/*----------------------------HEADER---------------------------------------*/

.header__container {
  display: flex; 
  align-items: center;
}
.header_logo {
    padding: 40px 132px 40px 0px;

    font-weight: 700;
    font-size: 24px;
    line-height: 134%;
    letter-spacing: 0.1px;
    color: var(--title-color);
}
.header__list {
    display: flex;
    padding: 40px 0px;
}
.header__item {
    position: relative;

    font-weight: 600;
    line-height: 171%;

    margin-right: 21px;
}
.header__item:last-child{
    margin-right: 0px;
}
.header__link.active {
    color: #1d1b1b;
}
.active::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: -5px;
   width: 100%;

   height: 4px;
   background-color: #2e2c2c;
   border-radius: 2px;

   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover{
    color: #1d1b1b;
}
/*----------------------------BACKGROUND AND CONTENT----------------------------------------------*/
.hero {
    background-image: url('./img/cover.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    width: 1440px;
    height: 783px;
}
.hero__body {
    width: 509px;
}
.hero__title {
    padding-top: 80px;

    font-size: 58px;
    font-weight: 800;
    line-height: 138%;
    color: var(--title-color);
}
.hero__text {
    padding-top: 35px;

    font-weight: 500;
    font-size: 20px;
    line-height: 132%;
}
.hero__buttons {
    padding-top: 35px;

    display: flex;
    gap: 10px;
}
.hero__orange-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    color: #FFFFFF;
    padding: 10px 36px;
    font-weight: 700;
    border-radius: 37px;
    background-color: #FF7B47;

    width: 187px;
    height: 48px;
    
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__orange-button:hover{
    box-shadow: 0 5px 25px #b65732;
}
.hero__white-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    color: #0D5C63;
    padding: 10px 36px;
    font-weight: 700;
    border: 1px solid #0D5C63;
    border-radius: 37px;
    background-color: inherit;

    width: 159px;
    height: 48px;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__white-button:hover{
    box-shadow: 0 5px 30px #148b95;
}
/*----------------------------CONSULTING---------------------------------------*/
.consulting__list {
    display: flex;

    margin-top: -101px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    column-gap: 30px;
}
.consulting__item {
    height: 100%;
    width: 328px;

    display: flex;
    flex-direction: column;
    justify-content: center;
   
    padding: 35px 40px;
    background-color: #FFFFFF;
}
.consulting__icon-sprite {
    width: 48px;
    height: 48px;
}
.consulting__title {
    padding: 10px 0px;

    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 133%;
    color: var(--title-color);
}
.consulting__text {
    font-weight: 500;
    line-height: 142%;
}
.consulting__item-green {
    height: 100%;
    width: 328px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 35px 40px;
    background-color: #0D5C63;
}
.consulting__title-green {
    padding: 10px 0px;

    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.1px;
    line-height: 133%;
    color: #FFFFFF;
}
.consulting__text-green {
    font-weight: 500;
    line-height: 142%;
    color: #FFFFFF;
}
/*----------------------------EXPERIENCE---------------------------------------*/
.experience__container {
    padding: 80px 0px;
}
.experience__body {
    padding: 0px 0px 50px 0px;
    text-align: center;
}
.experience__text-top {
    padding: 10px 0px 0px 0px;
    max-width: 470px;
    margin: 0 auto;
}
.experience__colum {
    display: flex;
    justify-content: center;
    column-gap: 30px;
}
.experience__item {
    padding: 30px 40px;
    text-align: center;
}
.experience__icon-sprite {
    width: 48px;
    height: 48px;
}
.experience__title {
    padding: 10px 0px;
}
.experience__text {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
/*----------------------------ADVICE---------------------------------------*/
.advice__container {
    padding: 80px 0px 80px 0px;
}
.advice__body {
    padding: 45px 0px 45px 0px;
    text-align: center;
}
.advice__title-top {
    padding: 0px 0px 10px 0px;
}
.advice__text-top {
    margin: 0 auto;
    width: 470px;
}
.advice__colum {
    display: flex;
    column-gap: 30px;
}
.advice__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.advice__thumb {
    padding: 30px 30px;
    width: 232px;
}
.advice__title {
    padding-bottom: 15px;

    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: var(--title-color);
}
.advice__text {
    font-weight: 500;
    line-height: 143%;
}
/*----------------------------WHO---------------------------------------*/
.who__container {
    padding: 100px 0px;
}
.who__body {
    text-align: center;
}
.who__title-top {
    padding: 0px 0px 15px 0px;
}
.who__text-top {
    margin: 0 auto;
    width: 511px;
    padding: 0px 0px 100px 0px;
}
.who__colum {
    display: flex;
}
.who__video {
    flex: 0 0 57%;
    position: relative;
    padding: 0px 0px 42.25% 0px;
}
.who__video iframe{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit:cover;
}
.who__content {
    flex: 1 1 auto;
    padding: 20px 0px 0px 120px;
}
.who__title {
    padding: 0px 0px 10px 0px;
}
.who__text {
    font-weight: 500;
    line-height: 143%;
    padding: 0px 0px 20px 0px;
}
.who__content-item { 
    display: flex;

    padding: 30px 0px 0px 0px;
}
.who__icon-sprite {
    width: 32px;
    height: 32px;
}
.who__content-thumb {
    padding-left: 20px;
}
.who__content-subtitle {
    color: var(--title-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
}
.who__contetnt-subtext {
    font-weight: 600;
    line-height: 171%;
}
/*----------------------------ICONS---------------------------------------*/
.icons__body {
    display: flex;
    align-items: center;
    justify-content: center;

    column-gap: 30px;
    padding: 50px 0px;
}
.icons__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icons__item-sprite {
    width: 152px;
    height: 152px;
}
/*----------------------------SUBSCRIBE---------------------------------------*/
.subscribe {
    position: relative;
}
.subscribe::before{
    content: "";
    background-color: var(--title-color);
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 77px;
    z-index: 1;
}
.subscribe__container {
    padding: 20px;
}
.subscribe__body {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
    z-index: 5;
    padding: 30px 50px;
    height: 124px;  

    background-color:#17213C;
    border-radius: 2px;
}
.subscribe__text {
    padding: 0px 180px 0px 0px;

    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
.subscribe__form {
    display: flex;
    flex: 0 1 50%;
    align-items: center;
}
.subscribe__area {
    border: 1px solid #FFFFFF;
    border-radius: 5px 0px 0px 5px;
    background-color: #FFFFFF;
    height: 58px;
    padding: 0px 20px;
    width: 100%;
    flex: 1 1 auto;
    border: 1px solid #E6E6E6;
    box-sizing: border-box;
    border-right: 0;
    min-width: 350px;
}
.subscribe__buttom {
    display: flex;
    justify-content: center;
	align-items: center;
    text-align: center;

    font-weight: 400;
    font-size: 14px;
    line-height: 200%;
    
    height: 58px;
    background-color: #FF7B47;
    border-radius: 0px 5px 5px 0px;
    color: #E6E6E6;
    border: 1px solid #E6E6E6;
    cursor: pointer;
    min-width: 117px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__buttom:hover{
    box-shadow: 0 5px 10px #b65732;
}
/*----------------------------GETINTOUCH---------------------------------------*/
.getintouch__container {
    padding: 80px 0px;
}
.getintouch__body {
    text-align: center;
}
.getintouch__title {
    padding: 0px 0px 10px 0px;
}
.getintouch__text {
    margin: 0px 0px 80px 0px;
    margin: 0 auto;
    width: 470px;
}
.getintouch__row {
    margin: 80px 0px 0px 0px;
}
.getintouch__colum {
    display: flex;
    justify-content: center;
}
.getintouch__item {
    display: flex;
    flex-direction: column;

    padding: 50px 40px;
    background-color: #FFFFFF;
    margin: 30px 0px;
}
.getintouch__icon-sprite {
    width: 72px;
    height: 72px;
}
.getintouch__icon {
    padding: 0px 0px 15px 0px;
    text-align: center;
}
.getintouch__email1 {
    font-weight: 600;
    line-height: 171%;
    color: var(--title-color);
    text-align: center;
}
.getintouch__email2 {
    font-weight: 600;
    line-height: 171%;
    color: var(--title-color);
    padding: 0px 0px 15px 0px;
    text-align: center;
}
.getintouch__support {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: var(--title-color);
    padding: 0px 0px 15px 0px;
    text-align: center;
}
.getintouch__button {
    border: 1px solid #FF7B47;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    color: #FF7B47;
    padding: 10px 20px;
    margin: 0px 50px;
    background-color: #FFFFFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.getintouch__button:hover{
    box-shadow: 0 5px 25px #b65732;
}
.getintouch__item-blue {
    background-color: var(--title-color);
    padding: 80px 40px;
}
.getintouch__icon-blue {
    padding: 0px 0px 15px 0px;
    text-align: center;
}
.getintouch__email1-blue {
    font-weight: 600;
    line-height: 171%;
    color: #FFFFFF;
    text-align: center;
}
.getintouch__email2-blue {
    font-weight: 600;
    line-height: 171%;
    color: #FFFFFF;
    padding: 0px 0px 15px 0px;
    text-align: center;
}
.getintouch__support-blue {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color:#FFFFFF;
    padding: 0px 0px 15px 0px;
    text-align: center;
}
.getintouch__button-blue {
    border: 1px solid #FF7B47;
    border-radius: 5px;
    background-color: var(--title-color);
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #FF7B47;
    padding: 10px 20px;
    margin: 0px 50px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.getintouch__button-blue:hover{
    box-shadow: 0 5px 25px #b65732;
}
/*----------------------------AGENCY---------------------------------------*/
.agency__container {
    padding: 40px 0px;
}
.agency__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.agency__text {
    padding-right: 20px;
}
.agency__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: var(--title-color);
    padding: 0px 0px 8px 0px;
}
.agency__subtitle {
    font-weight: 500;
    line-height: 143%;
    color: var(--color-gray);
    padding: 0px 0px 15px 0px;
}
.agency__botton {
    border-radius: 5px;
    background-color: #FF7B47;
    font-weight: 700;
    line-height: 200%;
    text-align: center;
    height: 62px;
    padding: 15px 40px;
    color: #FFFFFF;
    box-shadow: 0px 0px 0px #FF7B47;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}  
.agency__botton:hover{
    box-shadow: 0 5px 25px #b65732;
}
/*----------------------------INFO---------------------------------------*/
.info {
    background-color: #17213C;
}
.info__container {
    padding: 50px 0px;
}
.info__colum {  
    display: flex; 
    column-gap: 30px;
}
.info__row {
    display: flex;
    flex-direction: column;
    
    width: 152px;
}
.info__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    padding: 0px 15px 20px 0px;
}
.info__item-link {
    font-weight: 600;
    line-height: 171%;
    color: #FFFFFF;
}
.info__item-link:hover{
    text-decoration: none;
    border-bottom: 2px solid #FFFFFF;;
}
.info__item li{
    padding: 5px 0px;
}
.info__item-tel{
    font-weight: 600;
    line-height: 171%;
    color: #FFFFFF;
    background: url('./icon/tel-small.svg');
    background-repeat: no-repeat;
    background-position: left;
    min-height: 30px;
    padding: 10px 0px 10px 40px;
}
.info__item-map{
    font-weight: 600;
    line-height: 171%;
    color: #FFFFFF;
    background: url('./icon/mark-small.svg');
    background-repeat: no-repeat;
    background-position: left;
    min-height: 30px;
    padding: 10px 0px 10px 40px;
}
.info__item-email{
    font-weight: 600;
    line-height: 171%;
    color: #FFFFFF;
    background: url('./icon/plain-small.svg');
    background-repeat: no-repeat;
    background-position: left;
    min-height: 30px;
    padding: 10px 0px 10px 40px;
}
/*----------------------------FOOTER---------------------------------------*/
.footer__container {
    padding: 25px 0px;
}
.footer__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__text {
    font-weight: 600;
    line-height: 171%;
}
.footer__icon {
    display: flex;
    column-gap: 20px;
}
.footer__icon-sprite {
    width: 24px;
    height: 24px;
}